{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.displayName}}
  <button {{action "logout"}}>Logout</button>
  {{outlet}}
{{else}}
  <button {{action "login" "google"}}>Login with Google</button>
{{/if}}

{{outlet}}
